# Começando o Trabalho
---

In [ ]:
#instalar as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz
!tar xf spark-3.2.0-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()

# Carregamento de Dados
---

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

In [ ]:
spark

## Projeto

Nosso projeto consiste em ler, manipular, tratar e salvar um conjunto de dados volumosos utilizando como ferramenta o Spark.

## Carregamento de dados

### Dados Públicos CNPJ
#### Receita Federal

> [Empresas](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/empresas.zip)
> 
> [Estabelecimentos](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/estabelecimentos.zip)
> 
> [Sócios](https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/socios.zip)

[Fonte original dos dados](https://www.gov.br/receitafederal/pt-br/assuntos/orientacao-tributaria/cadastros/consultas/dados-publicos-cnpj)

---
[property SparkSession.read](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.read.html)

[DataFrameReader.csv(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameReader.csv.html)

### Montando nosso drive

In [ ]:
#Somente para google drive, para nao ficar carregando toda vez a base de dados

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Carregando os dados das empresas

In [ ]:
import zipfile

In [ ]:
zipfile.ZipFile('/content/drive/MyDrive/curso-spark/empresas.zip', 'r').extractall('/content/drive/MyDrive/curso-spark')

In [ ]:
path = '/content/drive/MyDrive/curso-spark/empresas'
empresas = spark.read.csv(path, sep = ';', inferSchema=True)

In [ ]:
#verficando a quantidade de dados de empresas
empresas.count()

4585679

### Carregando os dados dos estabelecimentos

In [ ]:
zipfile.ZipFile('/content/drive/MyDrive/curso-spark/estabelecimentos.zip', 'r').extractall('/content/drive/MyDrive/curso-spark')

In [ ]:
%%time
path = '/content/drive/MyDrive/curso-spark/estabelecimentos'
estabelecimentos = spark.read.csv(path, sep=";", inferSchema=True)

CPU times: user 132 ms, sys: 10.2 ms, total: 142 ms
Wall time: 21.1 s

In [ ]:
estabelecimentos.count()

4836219

### Carregando os dados dos sócios

In [ ]:
zipfile.ZipFile('/content/drive/MyDrive/curso-spark/socios.zip', 'r').extractall('/content/drive/MyDrive/curso-spark')

In [ ]:
path = '/content/drive/MyDrive/curso-spark/socios'
socios = spark.read.csv(path, sep = ";", inferSchema=True)

In [ ]:
socios.count()

2046430

# Manipulando os Dados
---

In [ ]:
#lendo as 5 primeiras linha
empresas.limit(5).toPandas()

    _c0                                                _c1  ...  _c5   _c6
0   306            FRANCAMAR REFRIGERACAO TECNICA S/C LTDA  ...    1  None
1  1355                         BRASILEIRO & OLIVEIRA LTDA  ...    5  None
2  4820  REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E ...  ...    5  None
3  5347       ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS  ...    5  None
4  6846                         BADU E FILHOS TECIDOS LTDA  ...    1  None

[5 rows x 7 columns]

### Renomeando as colunas do DataFrame

In [ ]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

In [ ]:
#Renomeando usando enumerate que itera as variaveis  com os indíces passando  nome novo das colunas 
for index, colNames in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f"_c{index}", colNames)

empresas.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [ ]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

In [ ]:
for index, colNames in enumerate(estabsColNames):
    estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", colNames)

estabelecimentos.columns

['cnpj_basico',
 'cnpj_ordem',
 'cnpj_dv',
 'identificador_matriz_filial',
 'nome_fantasia',
 'situacao_cadastral',
 'data_situacao_cadastral',
 'motivo_situacao_cadastral',
 'nome_da_cidade_no_exterior',
 'pais',
 'data_de_inicio_atividade',
 'cnae_fiscal_principal',
 'cnae_fiscal_secundaria',
 'tipo_de_logradouro',
 'logradouro',
 'numero',
 'complemento',
 'bairro',
 'cep',
 'uf',
 'municipio',
 'ddd_1',
 'telefone_1',
 'ddd_2',
 'telefone_2',
 'ddd_do_fax',
 'fax',
 'correio_eletronico',
 'situacao_especial',
 'data_da_situacao_especial']

In [ ]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [ ]:
for index, colNames in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f"_c{index}", colNames)

socios.columns

['cnpj_basico',
 'identificador_de_socio',
 'nome_do_socio_ou_razao_social',
 'cnpj_ou_cpf_do_socio',
 'qualificacao_do_socio',
 'data_de_entrada_sociedade',
 'pais',
 'representante_legal',
 'nome_do_representante',
 'qualificacao_do_representante_legal',
 'faixa_etaria']

## Analisando os dados

[Data Types](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#data-types)

In [ ]:
#Lendo as 5 primeiras linhas
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [ ]:
#verificando o tipo dos dados
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [ ]:
socios.limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

In [ ]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [ ]:
estabelecimentos.limit(5).toPandas()

   cnpj_basico  cnpj_ordem  ...  situacao_especial  data_da_situacao_especial
0         1879           1  ...               None                        NaN
1         2818           1  ...               None                        NaN
2         3110           1  ...               None                        NaN
3         3733           1  ...               None                        NaN
4         4628           3  ...               None                        NaN

[5 rows x 30 columns]

In [ ]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

Analisando as variaveis podemos ver que a data esta com inteiro e devemos converter para data.

Além disso alguns valores que tem casas decimais e estao como string, devo ajustar também

## Modificando os tipos de dados

[Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#functions)

[withColumn](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.withColumn.html)

### Convertendo String ➔ Double

#### `StringType ➔ DoubleType`

In [ ]:
#importando biblioteca
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as  f

In [ ]:
#visualizando a empresas
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [ ]:
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [ ]:
#Aplicando uma função em uma coluna especifica do dataframe. No caso  alterar o valor  , para .
empresas = empresas.withColumn('capital_social_da_empresa', f.regexp_replace('capital_social_da_empresa', ',', '.' ))
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [ ]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

Ainda ta como string

In [ ]:
#ajustando o tipo
empresas = empresas.withColumn('capital_social_da_empresa', empresas['capital_social_da_empresa'].cast(DoubleType()))
empresas.limit(5).toPandas()

   cnpj_basico  ... ente_federativo_responsavel
0          306  ...                        None
1         1355  ...                        None
2         4820  ...                        None
3         5347  ...                        None
4         6846  ...                        None

[5 rows x 7 columns]

In [ ]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

Pronto, agora esta como double

### Convertendo String ➔ Date

#### `StringType ➔ DateType`

[Datetime Patterns](https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html)

In [ ]:
#Criando um dataframe de datas
df = spark.createDataFrame([(20200924,), (20201022,), (20210215,)], ['data'])
df.toPandas()

       data
0  20200924
1  20201022
2  20210215

In [ ]:
#verificando as informaçãoes
df.printSchema()

root
 |-- data: long (nullable = true)

In [ ]:
#ajusrando a data para um tipo data  com ano mes e dia
df = df.withColumn("data",f.to_date(df.data.cast(StringType()), 'yyyyMMdd'))
df.printSchema()

root
 |-- data: date (nullable = true)

In [ ]:
df.toPandas()

         data
0  2020-09-24
1  2020-10-22
2  2021-02-15

In [ ]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

In [ ]:
#Ajustando a data das variaveis
#quebrando a linha  \
estabelecimentos = estabelecimentos\
      .withColumn(
          "data_situacao_cadastral", 
          f.to_date(estabelecimentos.data_situacao_cadastral.cast(StringType()), 'yyyyMMdd')
      )\
      .withColumn(
          "data_de_inicio_atividade",
          f.to_date(estabelecimentos.data_de_inicio_atividade.cast(StringType()), 'yyyyMMdd')
      )\
      .withColumn(
          "data_da_situacao_especial",
          f.to_date(estabelecimentos.data_da_situacao_especial.cast(StringType()), 'yyyyMMdd')
      )
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [ ]:
estabelecimentos.limit(5).toPandas()

   cnpj_basico  cnpj_ordem  ...  situacao_especial  data_da_situacao_especial
0         1879           1  ...               None                       None
1         2818           1  ...               None                       None
2         3110           1  ...               None                       None
3         3733           1  ...               None                       None
4         4628           3  ...               None                       None

[5 rows x 30 columns]

In [ ]:
#Fazendo ajuste para socios
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [ ]:
socios = socios.withColumn("data_de_entrada_sociedade", f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd'))
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [ ]:
socios.limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

# Seleções e consultas
---

## Selecionando informações
 
[DataFrame.select(*cols)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.select.html)

In [ ]:
empresas\
     .select('*')\
     .show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        306|         FRANCAMAR REFRIGE...|             2240|                         49|                      0.0|               1|                       null|
|       1355|         BRASILEIRO & OLIV...|             2062|                         49|                      0.0|               5|                       null|
|       4820|         REGISTRO DE IMOVE...|             3034|                         32|                      0.0|               5|                       null|
|       5347|         ROSELY APARECIDA ...|             2135|                         50|                      0.0|               5|                       null|
|       6846|         BADU E FILHOS TEC...|             2062|                         49|                   4000.0|               1|                       null|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [ ]:
#Se colocar o False depois do 5, veremos as informações completas no caso da razao
empresas\
     .select('*')\
     .show(5, False)

+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                                               |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|306        |FRANCAMAR REFRIGERACAO TECNICA S/C LTDA                                                     |2240             |49                         |0.0                      |1               |null                       |
|1355       |BRASILEIRO & OLIVEIRA LTDA                                                                  |2062             |49                         |0.0                      |5               |null                       |
|4820       |REGISTRO DE IMOVEIS, TABELIONATO 1 DE NOTAS E TABELIONATO E REGISTRO DE CONSTRATOS MARITIMOS|3034             |32                         |0.0                      |5               |null                       |
|5347       |ROSELY APARECIDA MONTEIRO CALTABIANO FREITAS                                                |2135             |50                         |0.0                      |5               |null                       |
|6846       |BADU E FILHOS TECIDOS LTDA                                                                  |2062             |49                         |4000.0                   |1               |null                       |
+-----------+--------------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [ ]:
#Selecionando tres variaveis somente
empresas\
    .select('natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa')\
    .show(5)

+-----------------+----------------+-------------------------+
|natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+-----------------+----------------+-------------------------+
|             2240|               1|                      0.0|
|             2062|               5|                      0.0|
|             3034|               5|                      0.0|
|             2135|               5|                      0.0|
|             2062|               1|                   4000.0|
+-----------------+----------------+-------------------------+
only showing top 5 rows

In [ ]:
#Criar uma nova colunas a partir das que ja existem. No caso pegando data de entrada e passando pra nova coluna ano de entrada
socios\
    .select('nome_do_socio_ou_razao_social', "faixa_etaria", f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .show(5, False)

+-------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social  |faixa_etaria|ano_de_entrada|
+-------------------------------+------------+--------------+
|LILIANA PATRICIA GUASTAVINO    |7           |1994          |
|CRISTINA HUNDERTMARK           |7           |1994          |
|CELSO EDUARDO DE CASTRO STEPHAN|8           |1994          |
|EDUARDO BERRINGER STEPHAN      |5           |1994          |
|HANNE MAHFOUD FADEL            |8           |1994          |
+-------------------------------+------------+--------------+
only showing top 5 rows

In [ ]:
#Criando a coluna do ano e mes de inicio
estabelecimentos\
      .select('nome_fantasia', 'municipio', f.year('data_de_inicio_atividade').alias('ano_de_inicio_atividade'), f.month('data_de_inicio_atividade').alias('mes_de_inicio_atividade'))\
      .show(5, False)

+-----------------+---------+-----------------------+-----------------------+
|nome_fantasia    |municipio|ano_de_inicio_atividade|mes_de_inicio_atividade|
+-----------------+---------+-----------------------+-----------------------+
|PIRAMIDE M. C.   |7107     |1994                   |5                      |
|null             |7107     |1994                   |5                      |
|null             |7107     |1994                   |5                      |
|null             |7107     |1994                   |5                      |
|EMBROIDERY & GIFT|7075     |1995                   |5                      |
+-----------------+---------+-----------------------+-----------------------+
only showing top 5 rows

## Identificando valores nulos

In [ ]:
#criando um dataframe com valores nulos e nomeando atribuindo nome a coluna
df = spark.createDataFrame([(1, ), (2,), (3, ), (None,)], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [ ]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|null|
+----+

In [ ]:
df = spark.createDataFrame([(1.,), (2.,), (3.,), (float('nan'),)], ['data'])
df.toPandas()

   data
0   1.0
1   2.0
2   3.0
3   NaN

In [ ]:
df.show()

+----+
|data|
+----+
| 1.0|
| 2.0|
| 3.0|
| NaN|
+----+

Quando colocamos float nan com numeros com double ele retorna corretamente Nan no show.

In [ ]:
df = spark.createDataFrame([('1',), ('2',), ('3',), (None,)], ['data'])
df.toPandas()

   data
0     1
1     2
2     3
3  None

In [ ]:
df.show()

+----+
|data|
+----+
|   1|
|   2|
|   3|
|null|
+----+

Agora quando informamos somente none, no show ele retorna como NULL.

In [ ]:
socios.limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

In [ ]:
#Verificanod a quantidade de observações nulas nas variaveis 
socios.select([f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns]).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|   pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|          0|                     0|                          208|                1234|                    0|                        1|2038255|                  0|              1995432|                                  0|           0|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+

In [ ]:
#Visualizando
socios.limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

In [ ]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

Verificado que uma das variaveis no caso Pais q possui valores nulos é inteiro. Já o nome do representande é uma string

In [ ]:
#Preenchendo os valores nulos do socios por 0
socios.na.fill(0).limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

In [ ]:
#No caso da variavel nome_do_representante	que é uma string, vamos usar aspas simples e o que queremos preencher a string nulas
socios.na.fill('-').limit(5).toPandas()

   cnpj_basico  ...  faixa_etaria
0          411  ...             7
1          411  ...             7
2         5813  ...             8
3         5813  ...             5
4        14798  ...             8

[5 rows x 11 columns]

## Ordenando os dados

[DataFrame.orderBy(*cols, **kwargs)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.orderBy.html)

In [ ]:
#order by
socios\
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year("data_de_entrada_sociedade").alias('ano_de_entrada'))\
    .orderBy('ano_de_entrada', ascending=False)\
    .show(5, False)

+----------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social           |faixa_etaria|ano_de_entrada|
+----------------------------------------+------------+--------------+
|KASSIANO RODRIGO KICHILESKI             |4           |2021          |
|LEONARDO MENNA BARRETO LARANJA GONCALVES|5           |2021          |
|MANOEL ADRIANO COSTA BARBOSA            |6           |2021          |
|ANTONOALDO GRANGEON TRANCOSO NEVES      |5           |2021          |
|MARIA SUELY DE MOURA                    |5           |2021          |
+----------------------------------------+------------+--------------+
only showing top 5 rows

In [ ]:
#Ordenando duas colunas, uma de forma decrescente e outra crescente
socios\
    .select('nome_do_socio_ou_razao_social', 'faixa_etaria', f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .orderBy(['ano_de_entrada', 'faixa_etaria'], ascending=[False, False])\
    .show(10, False)

+-------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social        |faixa_etaria|ano_de_entrada|
+-------------------------------------+------------+--------------+
|MARIA RAIMUNDA DOS SANTOS LANZA      |9           |2021          |
|RENILDE DAS GRACAS MAIA              |9           |2021          |
|DORIS PEREIRA GOMES JAZRA            |9           |2021          |
|MARIA JOSE DOMINGUES BONATO          |9           |2021          |
|ZELIA MARIA CAMARA RODRIGUES DA SILVA|9           |2021          |
|JOSE DA SILVA                        |9           |2021          |
|DEMOSTENES JACOB HUHN PINTO          |9           |2021          |
|NADIR BICHARA CHUAHY                 |9           |2021          |
|DEIA DA CUNHA BECK PINTO             |9           |2021          |
|REYNALDO FIORIO                      |9           |2021          |
+-------------------------------------+------------+--------------+
only showing top 10 rows

## Filtrando os dados

[DataFrame.where(condition)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.where.html) ou [DataFrame.filter(condition)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.filter.html)

In [ ]:
#Filtrando o capital das empresas bem pequeno no caso 50
empresas\
    .where('capital_social_da_empresa==50')\
    .show(5, False)

+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial       |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|17350147   |ERIK MARCELO DOS SANTOS 42107848858 |2135             |50                         |50.0                     |1               |null                       |
|17833214   |ALEXANDRE MACHADO LIMA 73750123772  |2135             |50                         |50.0                     |1               |null                       |
|20860830   |YASMIN MOURA DA FONSECA 13457709793 |2135             |50                         |50.0                     |1               |null                       |
|22242856   |JOAO CESAR MESSIAS 08707149883      |2135             |50                         |50.0                     |1               |null                       |
|23238540   |EVERTON ROBERTO DA SILVA 42101963809|2135             |50                         |50.0                     |1               |null                       |
+-----------+------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [ ]:
empresas\
    .select('porte_da_empresa')\
    .groupBy('porte_da_empresa')\
    .count()\
    .show()

+----------------+-------+
|porte_da_empresa|  count|
+----------------+-------+
|               1|3129043|
|               3| 115151|
|               5|1335500|
|            null|   5985|
+----------------+-------+

In [ ]:
#Filtro com o nome
#starwith = comece com
#endswith = termina com
socios\
    .select('nome_do_socio_ou_razao_social')\
    .filter(socios.nome_do_socio_ou_razao_social.startswith('LEONARDO'))\
    .filter(socios.nome_do_socio_ou_razao_social.endswith('SILVA'))\
    .limit(20)\
    .toPandas()

              nome_do_socio_ou_razao_social
0                LEONARDO FERREIRA DA SILVA
1                    LEONARDO MARTINS SILVA
2                 LEONARDO CANDIDO DA SILVA
3       LEONARDO HENRIQUE DE OLIVEIRA SILVA
4                    LEONARDO MARTINS SILVA
5        LEONARDO DE SANTIS VIEIRA DA SILVA
6   LEONARDO HENRIQUE DO NASCIMENTO E SILVA
7                            LEONARDO SILVA
8                LEONARDO DO VALLE DA SILVA
9                   LEONARDO GOMES DA SILVA
10                 LEONARDO MACEDO DA SILVA
11                        LEONARDO DA SILVA
12     LEONARDO ALMEIDA DO NASCIMENTO SILVA
13                   LEONARDO ROSA DA SILVA
14                 LEONARDO ARAGAO DA SILVA
15               LEONARDO CARNEIRO DA SILVA
16               LEONARDO FERREIRA DA SILVA
17                  LEONARDO LOPES DA SILVA
18               LEONARDO MOLINARI DA SILVA
19                LEONARDO FIORANI DA SILVA

In [ ]:
#Criando nova coluna utilizando condições
empresas = empresas.withColumn('capital', f.when(empresas.capital_social_da_empresa >= 500000,"alto").otherwise("baixo"))
empresas.limit(5).toPandas()

   cnpj_basico  ... capital
0          306  ...   baixo
1         1355  ...   baixo
2         4820  ...   baixo
3         5347  ...   baixo
4         6846  ...   baixo

[5 rows x 8 columns]

## O comando LIKE

[Column.like(other)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.Column.like.html)

In [ ]:
#Criando cuma coluna com as seguintes obervaçoes
df = spark.createDataFrame([('RESTAURANTE DO LÉO',), ('Leo restaurantes ltda',), ('Leo restaurante',)], ['data'])
df.toPandas()

                    data
0     RESTAURANTE DO LÉO
1  Leo restaurantes ltda
2        Leo restaurante

In [ ]:
#deixando as observações da coluna data em maiusculas e 
#utilizando o like para verificar se existe alguma observação com a palavra RESTAURANTE. Nesse caso retorna um booleano
df\
    .where(f.upper(df.data).like('%RESTAURANTE%'))\
    .show(truncate=False)

+---------------------+
|data                 |
+---------------------+
|RESTAURANTE DO LÉO   |
|Leo restaurantes ltda|
|Leo restaurante      |
+---------------------+

In [ ]:
#Agora vamos pesquisar somente os que começam com RESTAURANTE
df\
    .where(f.upper(df.data).like('RESTAURANTE%'))\
    .show(truncate=False)

+------------------+
|data              |
+------------------+
|RESTAURANTE DO LÉO|
+------------------+

In [ ]:
#Fazendo processo na base
#selecionando as colunas
#deixando tudo em maiuscula
#filtrando pela razao social as empresas que tenham nome restauranre
empresas\
    .select('razao_social_nome_empresarial', 'natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa')\
    .filter(f.upper(empresas['razao_social_nome_empresarial']).like('%RESTAURANTE%'))\
    .show(15,False)

+-------------------------------------------------------+-----------------+----------------+-------------------------+
|razao_social_nome_empresarial                          |natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+-------------------------------------------------------+-----------------+----------------+-------------------------+
|RESTAURANTE IMIGRANTE PORTUGUES LTDA.                  |2062             |5               |0.0                      |
|MORAIS & CARVALHO RESTAURANTE E PIZZARIA LTDA          |2062             |1               |0.0                      |
|BAR E RESTAURANTE PAGANOTTO LTDA                       |2062             |5               |0.0                      |
|RODRIGUES & RODRIGUES RESTAURANTE LTDA                 |2062             |5               |0.0                      |
|TEXAS RANCH BAR RESTAURANTE PRODUCOES ARTISTICAS E CULT|2062             |1               |0.0                      |
|V V SANTOS RESTAURANTE BAR E ATIV DESPORTIVAS LTDA     |2062             |1               |0.0                      |
|BAR E RESTAURANTE CASA DA QUINTA LTDA                  |2062             |1               |5000.0                   |
|DON MUGO RESTAURANTE LTDA                              |2062             |1               |10000.0                  |
|MARIA ROZA DOS SANTOS- BAR E RESTAURANTE               |2135             |5               |0.0                      |
|GERACAO DE OURO - BAR E RESTAURANTE LTDA               |2062             |5               |40000.0                  |
|ELIANIA A. CUSTODIO RESTAURANTE                        |2135             |1               |0.0                      |
|DOCE ESPIGA RESTAURANTE LTDA                           |2062             |1               |0.0                      |
|R. A. D. ABRIL RESTAURANTE                             |2135             |1               |0.0                      |
|BAR E RESTAURANTE IULIANCHESE LTDA.                    |2062             |1               |0.0                      |
|R. DA S. ARAUJO - RESTAURANTE                          |2135             |5               |0.0                      |
+-------------------------------------------------------+-----------------+----------------+-------------------------+
only showing top 15 rows

# Agregações e Junções
---

[DataFrame.groupBy(*cols)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.groupBy.html)

[DataFrame.agg(*exprs)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.agg.html)

[DataFrame.summary(*statistics)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.summary.html)

> Funções:
[approx_count_distinct](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.approx_count_distinct.html) | 
[avg](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.avg.html) | 
[collect_list](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.collect_list.html) | 
[collect_set](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.collect_set.html) | 
[countDistinct](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.countDistinct.html) | 
[count](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.count.html) | 
[grouping](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.grouping.html) | 
[first](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.first.html) | 
[last](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.last.html) | 
[kurtosis](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.kurtosis.html) | 
[max](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.max.html) | 
[min](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.min.html) | 
[mean](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.mean.html) | 
[skewness](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.skewness.html) | 
[stddev ou stddev_samp](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.stddev.html) | 
[stddev_pop](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.stddev_pop.html) | 
[sum](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.sum.html) | 
[sumDistinct](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.sumDistinct.html) | 
[variance ou var_samp](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.variance.html) | 
[var_pop](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.var_pop.html)

## Sumarizando os dados

In [ ]:
#Criando um agrupamento com uma contagem dos socios q entraram a partir de 2010
socios\
    .select(f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .where('ano_de_entrada >= 2010')\
    .groupBy('ano_de_entrada')\
    .count()\
    .orderBy('ano_de_entrada', ascending=True)\
    .show()

+--------------+------+
|ano_de_entrada| count|
+--------------+------+
|          2010| 79337|
|          2011| 83906|
|          2012| 80101|
|          2013| 83919|
|          2014| 80590|
|          2015| 80906|
|          2016| 81587|
|          2017| 90221|
|          2018| 99935|
|          2019|118248|
|          2020|125927|
|          2021| 56316|
+--------------+------+

In [ ]:
#Selecionando empresas 
#agrupando por porte
#Agregando a média da capital  dando nome  de capital social media 
#Quantidade de cnpj por porte sendo a frequencia
#Ordendando de acordo com porte
empresas\
      .select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa')\
      .groupBy('porte_da_empresa')\
      .agg(
          f.avg('capital_social_da_empresa').alias('capital_social_media'),
          f.count('cnpj_basico').alias('Frequencia')
      )\
      .orderBy('porte_da_empresa',ascending=True)\
      .show()

+----------------+--------------------+----------+
|porte_da_empresa|capital_social_media|Frequencia|
+----------------+--------------------+----------+
|            null|    8.35421888053467|      5985|
|               1|  339994.53313506936|   3129043|
|               3|  2601001.7677092673|    115151|
|               5|   708660.4208249798|   1335500|
+----------------+--------------------+----------+

In [ ]:
#utilizando summary
empresas\
      .select('capital_social_da_empresa')\
      .summary()\
      .show()


      #caso fosse p observar somente uma dessas colocaria dentro do summary ex "count"

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                  4585679|
|   mean|        503694.5478542675|
| stddev|     2.1118691490537405E8|
|    min|                      0.0|
|    25%|                      0.0|
|    50%|                   1000.0|
|    75%|                   7000.0|
|    max|         3.22014670262E11|
+-------+-------------------------+

In [ ]:
#Fazendo summary das faixa etaria só para fim de conhecimen 
socios\
    .select('faixa_etaria')\
    .summary()\
    .show()

+-------+-----------------+
|summary|     faixa_etaria|
+-------+-----------------+
|  count|          2046430|
|   mean|5.396815918453111|
| stddev|1.687799526189411|
|    min|                0|
|    25%|                4|
|    50%|                5|
|    75%|                7|
|    max|                9|
+-------+-----------------+

In [ ]:
estabelecimentos\
      .select('cnpj_basico', 'pais', 'motivo_situacao_cadastral')\
      .groupBy('pais')\
      .agg(
          f.count('cnpj_basico').alias('Frequencia')
      )\
      .orderBy('Frequencia',ascending= False)\
      .show()

+----+----------+
|pais|Frequencia|
+----+----------+
|null|   4823786|
| 249|      3144|
| 845|       761|
| 863|       569|
|  23|       543|
| 628|       543|
| 105|       516|
| 245|       515|
| 386|       505|
| 573|       485|
| 149|       412|
| 445|       373|
| 275|       355|
| 580|       311|
| 137|       280|
| 767|       272|
| 607|       267|
|  63|       164|
| 399|       161|
| 375|       149|
+----+----------+
only showing top 20 rows

In [ ]:
estabelecimentos\
    .where('pais==23')\
    .show(5, False)

+-----------+----------+-------+---------------------------+-------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------------------------------------+------+-----------+-----------------+----+---+---------+-----+----------+-----+----------+----------+----+-------------------------------------------------+-----------------+-------------------------+
|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|logradouro                                        |numero|complemento|bairro           |cep |uf |municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|fax |correio_eletronico                               |situacao_especial|data_da_situacao_especial|
+-----------+----------+-------+---------------------------+-------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------------------------------------+------+-----------+-----------------+----+---+---------+-----+----------+-----+----------+----------+----+-------------------------------------------------+-----------------+-------------------------+
|5450656    |1         |20     |1                          |null         |2                 |2002-12-17             |0                        |null                      |23  |2002-12-17              |9900800              |null                  |null              |BOCKENHEIMER LANDSTRASSE                          |98-100|null       |FRANKFURT AM MAIN|null|EX |9707     |null |null      |null |null      |null      |null|null                                             |null             |null                     |
|5713608    |1         |87     |1                          |null         |2                 |2003-09-15             |0                        |null                      |23  |2003-06-25              |6462000              |null                  |null              |POSTFACH 2 - D-72349 - GEISLINGEN                 |S/N   |null       |null             |null|EX |9707     |null |null      |null |null      |null      |null|INFO@MAYER-RECOND.DE   -   WWW.MAYER-RECOND.DE   |null             |null                     |
|10903668   |1         |0      |1                          |null         |2                 |2009-06-18             |0                        |null                      |23  |2009-06-18              |6462000              |null                  |null              |RUA MITTELSTRABE 8                                |S/N   |null       |null             |null|EX |9707     |null |null      |null |null      |null      |null|M.TROENDLE@KARLSTORZ.DE                          |null             |null                     |
|15044223   |1         |28     |1                          |null         |2                 |2012-02-13             |0                        |null                      |23  |2012-02-13              |6462000              |null                  |null              |NEUE MAINZER STR. 28                              |S/N   |null       |null             |null|EX |9707     |null |null      |null |null      |null      |null|SWIFT/BIC: BBVADFFFXXX                           |null             |null                     |
|30855388   |1         |73     |1                          |null         |2                 |2018-07-04             |0                        |null                      |23  |2018-07-04              |6630400              |null                  |null              |UNIVERSAL-INVESTMENT-GESELLSCHAFT MBH FOR UI-FONDS|0     |60486      |FRANKFURT AM MAIN|null|EX |9707     |null |null      |null |null      |null      |null|CSM-DOKUMENTAERE-MAERKTE@UNIVERSAL-INVESTMENT.COM|null             |null                     |
+-----------+----------+-------+---------------------------+-------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------------------------------------+------+-----------+-----------------+----+---+---------+-----+----------+-----+----------+----------+----+-------------------------------------------------+-----------------+-------------------------+
only showing top 5 rows

## Juntando DataFrames - Joins

[DataFrame.join(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.join.html)

In [ ]:
produtos = spark.createDataFrame(
    [
     ('1', 'bebidas', 'Agua Mineral'),
     ('2', 'limpeza', 'Sabao em po'),
     ('3', 'frios', 'Queijo'),
     ('4', 'bebidas', 'Refrigerante'),
     ('5', 'pet', 'Raçao para caes')
    ],
    ['id', 'cat', 'prod']
)

impostos = spark.createDataFrame(
    [
     ('bebidas',0.15),
     ('limpeza',0.05),
     ('frios',0.065),
     ('carnes',0.08)
    ],
    ['cat', 'tax']
)

In [ ]:
produtos.toPandas()

  id      cat             prod
0  1  bebidas     Agua Mineral
1  2  limpeza      Sabao em po
2  3    frios           Queijo
3  4  bebidas     Refrigerante
4  5      pet  Raçao para caes

In [ ]:
impostos.toPandas()

       cat    tax
0  bebidas  0.150
1  limpeza  0.050
2    frios  0.065
3   carnes  0.080

In [ ]:
#Fazendo a interseção
produtos.join(impostos, 'cat', how='inner')\
    .sort('id')\
    .show()

+-------+---+------------+-----+
|    cat| id|        prod|  tax|
+-------+---+------------+-----+
|bebidas|  1|Agua Mineral| 0.15|
|limpeza|  2| Sabao em po| 0.05|
|  frios|  3|      Queijo|0.065|
|bebidas|  4|Refrigerante| 0.15|
+-------+---+------------+-----+

In [ ]:
#Fazendo join da tabela da esquerda e verificando quais dados tem, se n tiver na tebela da direita retorna null
produtos.join(impostos, 'cat', how='left')\
    .sort('id')\
    .show()

+-------+---+---------------+-----+
|    cat| id|           prod|  tax|
+-------+---+---------------+-----+
|bebidas|  1|   Agua Mineral| 0.15|
|limpeza|  2|    Sabao em po| 0.05|
|  frios|  3|         Queijo|0.065|
|bebidas|  4|   Refrigerante| 0.15|
|    pet|  5|Raçao para caes| null|
+-------+---+---------------+-----+

In [ ]:
#Agora da tabela da direta que na esquerda.
produtos.join(impostos, 'cat', how='right')\
    .sort('id')\
    .show()

+-------+----+------------+-----+
|    cat|  id|        prod|  tax|
+-------+----+------------+-----+
| carnes|null|        null| 0.08|
|bebidas|   1|Agua Mineral| 0.15|
|limpeza|   2| Sabao em po| 0.05|
|  frios|   3|      Queijo|0.065|
|bebidas|   4|Refrigerante| 0.15|
+-------+----+------------+-----+

In [ ]:
#Ja o outer traz tudo
produtos.join(impostos, 'cat', how='outer')\
    .sort('id')\
    .show()

+-------+----+---------------+-----+
|    cat|  id|           prod|  tax|
+-------+----+---------------+-----+
| carnes|null|           null| 0.08|
|bebidas|   1|   Agua Mineral| 0.15|
|limpeza|   2|    Sabao em po| 0.05|
|  frios|   3|         Queijo|0.065|
|bebidas|   4|   Refrigerante| 0.15|
|    pet|   5|Raçao para caes| null|
+-------+----+---------------+-----+

In [ ]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)
 |-- capital: string (nullable = false)

In [ ]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

Podemos ver que a variavel de ligação será cnpj básico

In [ ]:
#Fazendo interseção de estab e empresas  atraves do cnpj basico
empresas_join = estabelecimentos.join(empresas, 'cnpj_basico', how='inner')
empresas_join.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)
 |-- capital: string (nullable = false)

In [ ]:
#Criando uma variavel freq q recebe o join feito anteiormente
#selecionando apenas o cnpj
#criando uma nova coluna q recebe somente o ano 
#fazendo uma condição pegando ano depois de 2010
#agrupando pelo ano
#fazendo uma contagem dos cnpj q estao agrupados
#ordenando pelo ano
freq = empresas_join\
  .select('cnpj_basico', 
          f.year('data_de_inicio_atividade').alias('data_de_inicio'))\
          .where('data_de_inicio >= 2010')\
          .groupBy('data_de_inicio')\
          .agg(f.count("cnpj_basico").alias("frequencia"))\
          .orderBy('data_de_inicio', ascending=True)

In [ ]:
freq.toPandas()

    data_de_inicio  frequencia
0             2010      154159
1             2011      172677
2             2012      232480
3             2013      198424
4             2014      202276
5             2015      212523
6             2016      265417
7             2017      237292
8             2018      275435
9             2019      325922
10            2020      400654
11            2021      153275

In [ ]:
#Fazendo uniao de tudo, criando uma label abaixo data e ao lado inserido o total das frequencias
freq.union(
    freq.select(
        f.lit('Total').alias('data_de_inicio'),
        f.sum(freq.frequencia).alias('frequencia')
    )
).toPandas()

   data_de_inicio  frequencia
0            2010      154159
1            2011      172677
2            2012      232480
3            2013      198424
4            2014      202276
5            2015      212523
6            2016      265417
7            2017      237292
8            2018      275435
9            2019      325922
10           2020      400654
11           2021      153275
12          Total     2830534

## SparkSQL

[SparkSession.sql(sqlQuery)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.sql.html)

Para saber mais sobre performance: [Artigo - Spark RDDs vs DataFrames vs SparkSQL](https://community.cloudera.com/t5/Community-Articles/Spark-RDDs-vs-DataFrames-vs-SparkSQL/ta-p/246547)

In [ ]:
#Criando uma view
empresas.createOrReplaceTempView("empresasView")

In [ ]:
spark.sql("SELECT * FROM empresasView").show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+-------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|capital|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+-------+
|        306|         FRANCAMAR REFRIGE...|             2240|                         49|                      0.0|               1|                       null|  baixo|
|       1355|         BRASILEIRO & OLIV...|             2062|                         49|                      0.0|               5|                       null|  baixo|
|       4820|         REGISTRO DE IMOVE...|             3034|                         32|                      0.0|               5|                       null|  baixo|
|       5347|         ROSELY APARECIDA ...|             2135|                         50|                      0.0|               5|                       null|  baixo|
|       6846|         BADU E FILHOS TEC...|             2062|                         49|                   4000.0|               1|                       null|  baixo|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+-------+
only showing top 5 rows

In [ ]:
#Deixando mais legível
spark\
      .sql("""
        SELECT * FROM empresasView
          WHERE capital_social_da_empresa = 50
          """)\
      .show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+-------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|capital|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+-------+
|   17350147|         ERIK MARCELO DOS ...|             2135|                         50|                     50.0|               1|                       null|  baixo|
|   17833214|         ALEXANDRE MACHADO...|             2135|                         50|                     50.0|               1|                       null|  baixo|
|   20860830|         YASMIN MOURA DA F...|             2135|                         50|                     50.0|               1|                       null|  baixo|
|   22242856|         JOAO CESAR MESSIA...|             2135|                         50|                     50.0|               1|                       null|  baixo|
|   23238540|         EVERTON ROBERTO D...|             2135|                         50|                     50.0|               1|                       null|  baixo|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+-------+
only showing top 5 rows

In [ ]:
#selecionado porte
#realizando a media da CAPITAL social e chamando de media
#agrupando pelo porte

spark\
    .sql("""
        SELECT porte_da_empresa, MEAN(capital_social_da_empresa) AS media
            FROM empresasView
            GROUP BY porte_da_empresa
      """)\
        .show()

+----------------+------------------+
|porte_da_empresa|             media|
+----------------+------------------+
|               1|339994.53313506936|
|               3|2601001.7677092673|
|               5| 708660.4208249798|
|            null|  8.35421888053467|
+----------------+------------------+

In [ ]:
#criando mais uma view
empresas_join.createOrReplaceTempView("empresasJoinView")

In [ ]:
#Selecionando o ano da data de inico e a quantiade de cnpj
#trazendo somente o ano de inicio seja maior que 2010
#agrupando pela data de inicio e ordenando tbm
freq = spark\
    .sql("""
          SELECT YEAR(data_de_inicio_atividade) AS data_de_inicio, COUNT(cnpj_basico) AS count
            FROM empresasJoinView
            WHERE YEAR(data_de_inicio_atividade) >= 2010
            GROUP BY data_de_inicio
            ORDER BY data_de_inicio
        """)
    
freq\
    .toPandas()

    data_de_inicio   count
0             2010  154159
1             2011  172677
2             2012  232480
3             2013  198424
4             2014  202276
5             2015  212523
6             2016  265417
7             2017  237292
8             2018  275435
9             2019  325922
10            2020  400654
11            2021  153275

In [ ]:
#Criando mais uma view
freq.createOrReplaceTempView("freqView")

In [ ]:
#Aqui estamos fazeno uma append
#adicionando total abaixo dos anos e a soma abaixo do count
spark\
    .sql("""
          SELECT * FROM freqView
          UNION ALL
          SELECT 'Total' AS data_de_inicio, SUM(count) AS count
            FROM freqView
        """)\
        .show()

+--------------+-------+
|data_de_inicio|  count|
+--------------+-------+
|          2010| 154159|
|          2011| 172677|
|          2012| 232480|
|          2013| 198424|
|          2014| 202276|
|          2015| 212523|
|          2016| 265417|
|          2017| 237292|
|          2018| 275435|
|          2019| 325922|
|          2020| 400654|
|          2021| 153275|
|         Total|2830534|
+--------------+-------+

# Formas de Armazenamento
---

## Arquivos CSV

[property DataFrame.write](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.write.html)

[DataFrameWriter.csv(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.csv.html)

In [ ]:
#Salvando o dataset em csv de acordo com nossas alterações feitas
empresas.write.csv(
    path='/content/drive/MyDrive/curso-spark/empresas/csv',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
#fazendo a leitura do novo dataset
empresas2 = spark.read.csv(
    '/content/drive/MyDrive/curso-spark/empresas/csv',
    sep=';',
    inferSchema=True,
    header=True
)

In [ ]:
#Pronto a mesma base porem ja com as variaveis com nome correto
empresas2.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)
 |-- capital: string (nullable = true)

In [ ]:
#Salvando o dataset em csv de acordo com nossas alterações feitas
socios.write.csv(
    path='/content/drive/MyDrive/curso-spark/socios/csv',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
#fazendo a leitura do novo dataset
socios2 = spark.read.csv(
    '/content/drive/MyDrive/curso-spark/socios/csv',
    sep=';',
    inferSchema=True,
    header=True
)

In [ ]:
socios2.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [ ]:
#Salvando o dataset em csv de acordo com nossas alterações feitas
estabelecimentos.write.csv(
    path='/content/drive/MyDrive/curso-spark/estabelecimentos/csv',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
estabelecimentos2 = spark.read.csv(
    '/content/drive/MyDrive/curso-spark/estabelecimentos/csv',
    sep=';',
    inferSchema=True,
    header=True
)

In [ ]:
estabelecimentos2.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: string (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: string (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: string (nullable = true)

## Arquivos PARQUET

[Apache Parquet](https://parquet.apache.org/)

[DataFrameWriter.parquet(*args)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.parquet.html)

In [ ]:
#Armaazenando os dados em formatos colunar
empresas.write.parquet(
    path='/content/drive/MyDrive/curso-spark/empresas/parquet',
    mode='overwrite'
)

In [ ]:
empresas_parquet = spark.read.parquet(
    '/content/drive/MyDrive/curso-spark/empresas/parquet'
)

In [ ]:
empresas_parquet.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)
 |-- capital: string (nullable = true)

In [ ]:
 #Armaazenando os dados em formatos colunar
# estabelecimentos.write.parquet(
#     path='/content/drive/MyDrive/curso-spark/estabelecimentos/parquet',
#     mode='overwrite'
# )

In [ ]:
# estabelecimentos_parquet = spark.read.parquet(
#      '/content/drive/MyDrive/curso-spark/estabelecimentos/parquet'
# )

In [ ]:
 #Armaazenando os dados em formatos colunar
socios.write.parquet(
    path='/content/drive/MyDrive/curso-spark/socios/parquet',
    mode='overwrite'
)

In [ ]:
socios_parquet = spark.read.parquet(
     '/content/drive/MyDrive/curso-spark/socios/parquet'
)

In [ ]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

### Arquivos ORC

In [ ]:
estabelecimentos.write.orc(
    path='/content/drive/MyDrive/curso-spark/estabelecimentos/orc',
    mode='overwrite'
)

In [ ]:
%%time
estabelecimentos_orc = spark.read.orc(
     '/content/drive/MyDrive/curso-spark/estabelecimentos/orc'
)

CPU times: user 1.72 ms, sys: 0 ns, total: 1.72 ms
Wall time: 70.9 ms

In [ ]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [ ]:
socios.write.orc(
    path='/content/drive/MyDrive/curso-spark/socios/orc',
    mode='overwrite'
)

In [ ]:
socios_orc = spark.read.orc(
     '/content/drive/MyDrive/curso-spark/socios/orc'
)

In [ ]:
socios_orc.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

## Particionamento dos dados

[DataFrameWriter.partitionBy(*cols)](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrameWriter.partitionBy.html)

In [ ]:
#Salvando tudo em um só csv
empresas.coalesce(1).write.csv(
    path='/content/drive/MyDrive/curso-spark/empresas/csv_unico',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
#Salvando mas seprarando os arquivos por porte
empresas.write.parquet(
    path='/content/drive/MyDrive/curso-spark/empresas/parquet_unico',
    mode='overwrite',
    partitionBy='porte_da_empresa'
)

In [ ]:
spark.stop